@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Overpass:wght@800&display=swap');

.App {
  text-align: center;
}

.rtlList {
  direction: rtl;
}

.informationFont {
  font-family: 'Montserrat', sans-serif !important;
}

.headerFont {
  color: #57606f;
  font-family: 'Overpass', sans-serif !important;
}

.aboutMeContainer {
  padding-top: 11%;
}


.pageContainer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.timelineDot {
  background-color: #0a3d62 !important;
}

.centerDivider {
  width:50%;
  position: relative;
  left: 25%;
}

.experienceGrid {
  padding-top: 20px;
}

.experienceText {
  letter-spacing: 1.6px !important;
}

.experienceHeader {
  padding-bottom: 5px;
}

.progressExperience {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectsTable {
  margin-top: 25px;
}

.projectsTable .githubLink:hover {
  color: #0a3d62;
  background-color: transparent;
  border: 3px solid #0a3d62;
  transition: 0.3s;
}

.projectsTable .githubLink {
  color: white;
  background-color: #0a3d62;
  height: 40px;
  width: 40px;
  /*border-radius: 100px;*/
}

.projectsTableHeader {
  color: #0a3d62;
  font-family: 'Overpass', sans-serif;
  background-color: #d4d8dd;
  font-size: 17px;

}

#vertical-tabpanel-1 > div > div > div:nth-child(n) > div > div.MuiDataGrid-mainGridContainer > div.MuiDataGrid-columnsContainer > div > div:nth-child(n) > div.MuiDataGrid-columnSeparator > svg {
  color: #0a3d62 !important;
}

#vertical-tabpanel-1 > div > div > div:nth-child(n) > div > div.MuiDataGrid-mainGridContainer > div.MuiDataGrid-columnsContainer > div > div:nth-child(5) > div.MuiDataGrid-columnSeparator > svg {
  color: inherit !important;
}

.educationContainer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.educationHeader {
  padding-bottom: 5px;
}

.educationGrid {
  padding-top: 20px;
}

.aboutMeText {
  letter-spacing: 2px !important;
}

.aboutMeHeader {
  padding-bottom: 40px;
  padding-top: 20px;
}

.mugShot {
  height: 480px;
  width: 300px;
  align-self: center;
  border: 7px solid #0a3d62;
  border-radius: 50%;
}

.mugShotName {
  padding-left: 35px;
}

.skillsGrid {
  padding-top: 25px;
}

.skillGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsIcon {
  width: 80px !important;
  height: 80px !important;
}

.skillsIconPaddingRight {
  padding-right: 5px;
}

.skillsContainer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
